.header-bg{
    background-image:
    linear-gradient(175deg, #fbd062 80%,#fff 20%);
    width: 100%;
    height: 684px;
    margin-bottom: 40px;
}

.slider-bg{
    background-image:
    linear-gradient(175deg, #111430 100%,#fff 0%);
    width: 100%;
    height: 600px;
    margin-bottom: 40px;
}

.slider-style{
    height: 350px !important;
}
.footer-bg{
    background-image:
    linear-gradient(-5deg, #fbd062 85%,#fff 15%);
    width: 100%;
    height: 600px;
    padding-top: 200px;
}
.copyrightSpace{ margin-top: 70px;}


